.content-list {
	-fx-background-color: derive(#242424, 50%);
	-fx-border-color: none;
	-fx-border-width: 0;
}

.content-list:focused {
	-fx-border-color: none;
	-fx-border-width: 0;
}

.content-list .scroll-bar:horizontal ,
.content-list  .scroll-bar:vertical{
    -fx-background-color: derive(#242424, 50%);
    -fx-border-width: 0;
}

.content-list .scroll-bar:horizontal .thumb,
.content-list .scroll-bar:vertical .thumb {
    -fx-background-color: derive(black,90%);
	-fx-background-insets: 0, 0, 0;
	-fx-background-radius: 0em;
}

.content-list .scroll-bar:horizontal:hover .track ,
.content-list .scroll-bar:horizontal:pressed .track ,
.content-list .scroll-bar:vertical:hover .track,
.content-list .scroll-bar:vertical:pressed .track{
	 -fx-background-radius: 0em;
}

/* The main scrollbar **thumb** CSS class on event of "hover" and "pressed" */
.content-list .scroll-bar .thumb:hover,
.content-list .scroll-bar .thumb:pressed{
    -fx-background-color: derive(black,50%);
}

.content-list .increment-button:hover ,.content-list .decrement-button:hover {
    -fx-background-color:derive(black,50%);
}

.content-list .list-cell:filled:selected:focused, .list-cell:filled:selected {
    -fx-background-color: derive(#242424, 50%);
    -fx-text-fill: white;
}

.list-cell:even,  .list-cell:odd{
    -fx-background-color: #242424;
    -fx-text-fill: #d7d7d7;
}

.list-cell:even .label, .list-cell:odd .label{
    -fx-text-fill: #d7d7d7;
}

.panel {
	-fx-border-color: #d7d7d7;
	-fx-border-width: 1;
	-fx-background-color: #404040;
	-fx-text-fill: #d7d7d7;
}

.panel .label{
	-fx-text-fill: #d9d9d9;
}

.removed-row {
	-fx-background-color: rgba(255, 26, 26, 0.55);
	-fx-background-radius: 1.7;
    -fx-text-fill: #d7d7d7;
}

.added-row {
	-fx-background-color: rgba(0, 153, 51, 0.55);
	-fx-background-radius: 1.7;
    -fx-text-fill: #d7d7d7;
}

.hide-btn, .show-btn {
	-fx-background-color: none;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
  	-fx-background-size: contain;
  	-fx-focus-color: none;
}

.hide-btn {	
	-fx-background-image: url(hide1.png); 
}

.hide-btn:pressed {
	-fx-background-image: url(hide2.png); 
}

.show-btn {	
	-fx-background-image: url(show1.png); 
}

.show-btn:pressed {
	-fx-background-image: url(show2.png); 
}

#main_list .list-view, .list-view:focused {
	-fx-background-color: transparent;
    -fx-border-radius: 4;
}

#main_list .list-cell {
	-fx-border-color: none;
    -fx-border-width: none;
    -fx-text-fill: #d7d7d7;
}

#main_list .list-cell .label {
	-fx-border-color: none;
    -fx-border-width: none;
    -fx-text-fill: #d7d7d7;
}

#main_list .menu-item {
 -fx-skin: "com.sun.javafx.scene.control.skin.MenuItemSkin";
 -fx-background-color: transparent;
 -fx-padding: 0.333333em 0.41777em 0.333333em 0.41777em; /* 4 5 4 5 */
}

#history-button {
	-fx-background-color: none;
	-fx-background-repeat: no-repeat;
	-fx-background-position: center;
  	-fx-background-size: contain;
  	-fx-focus-color: none;
  	-fx-background-image: url(history.png);
}

#history-button:pressed {
	-fx-background-image: url(history2.png);
}

#history-button .label {
	-fx-text-fill: black;
}

#history-button > .arrow-button {
   visibility: false;
}

#history-button-item .label {
    -fx-text-fill: black;
}

#history-button-item:focused {
     -fx-background-color: #457196;
}

#history-button-item:focused .label {
    -fx-text-fill: white;
}